<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
<form>
  <div class="content" id="content">
    <div class="form-horizontal edit-user">
      <div class="form-header">Проект распределения обучающихся в параллель 1-х классов</div>
      <div class="form-row">
        <label for="search1" class="form-label">Введите фамилию и имя ребенка</label>
        <input placeholder="Иванов Иван" id="search1" class="form-control" type="text" name="search1">
      </div>
      <div class="form-row">
        <label for="search2" class="form-label">Введите дату рождения </label>
        <input placeholder="XX.XX.XXXX" id="search2" class="form-control" type="text" name="search2">
      </div>
      <div class="form-row buttons">
        <input type="submit" value="Показать результат"/>
      </div>
      <div th:each="student1 : ${student1}" style="margin-left:20px;">
        <H6>Результат поиска:</H6>
        <a th:text="${'ФИО ученика: ' + student1.getStudentFullName() + ', класс: ' + student1.getStudentClass()}">student</a>
      </div>

      <div>
        <a href="home.html">Домашняя страница</a>
      </div>
    </div>
  </div>

</form>
</body>
</html>

